/* body {
    background-color: lightblue;
} */
/* body{
   background-image: url("../Vecteezy-16-4200-22.jpg");
    width: 50%
} */

/* .container-fluid {
    min-height: 100%;
    overflow: hidden;
} */

/* html,body {
  height: 100%;
  
} */

/* .container-fluid {
    
    background-repeat: no-repeat;
    background-size: 50% 100%;
    
} */
/* html, body
{
    height: 100%;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} */

/* .row, .container-fluid {
    overflow: hidden; 
}

.row, .container-fluid  [className*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
} */

/* .home {
  position: relative; 
   
   width: 50%;
} */
/* html, body {
  /* background-position: 10px 50px 10x;  */
  
/* } */

html, body {
    height: 100%;
    margin: 0;
    background-image: url("../split4.png");
    background-repeat: no-repeat;
   /* opacity: 0.5; */
    
}
/* #right-column{
    
} */

/* img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */


/* #image {
  
} */
.row, .container-fluid{
  margin-right:0;
  margin-left:0;
}
#right-column {
 /* position: absolute;  */
 /* display: flex;
    flex-direction: column; */
margin-right:0;
  margin-left:0;
 background-color: transparent;
 /* height: auto; */
 /* float: none; */
    /* display: table-cell; */
  text-align: center;
  padding: 100px;
  /* color: rgb(243, 174, 174); */
} 


#left-column {
  /* margin-top: 500px; */
  /* display: flex; */
  /* background-image: url("../Vecteezy-16-4200-22.jpg"); */
background-color: transparent;
 /* background-image: url("../Vecteezy-16-4200-22.jpg"); */
  /* position: absolute;  */
     /* top: 0; */
    /* float: none; */
    /* display: table-cell; */
  /* height: 100%; */
  color: white;
  text-align: center;
  padding: 100px;
    
}

/* .row {
    height: 100%;
    display: table-row;
} */
/* #left-column {  */
    /* The image used */
    /* background-image: url("../Vecteezy-16-4200-22.jpg"); */

    /* Full height */
    /* height: 100%;  */
    /* Center and scale the image nicely */
    /* background-position: center; */
  
    /* background-size: cover;
} */
/* .osd-icon {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 4px solid white; 
    border-radius: 50%; 
    margin-bottom:20px;
} */
/* .text-center {
    padding: 20px;
    text-align: center;
} */

/* .row {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
} */


/* 
h2 {
  text-align: center;
  padding: 5px;
} 
h1 {
    color: navy;
    margin-left: 20px;
}
#common-searches {
  border: 2px solid white;
  position: relative;
  width: 33%;
  height: 33%;
  z-index: 100;
  background: rgb(214, 214, 214);
  left: 33%;
}
#subs {
  position: relative;
  width: 33%;
  height: 50%;
  z-index: 100;
  background: rgb(214, 214, 214);
  left: 33%;
}
#center {
    position:absolute;
    float: right;
    transition: .5s ease;
   
  z-index: 110;
  left: 58%;
}
.search-field {
   position:absolute;
    float: right;
    transition: .5s ease;
   
  z-index: 110;
  left: 40%;
} */